<section>
<div class="items-center flex justify-center md:mt-20 mt-10 ">
        <h1 class="font-mont md:text-8xl text-4xl">
            {{'mainaboutme.title' | i18n}}
        </h1>
    </div>
      
      
      
      
      
      
    <div class="md:mt-20 mt-10 md:text-2xl text-lg mr-5 ml-5  md:mr-10 md:ml-10">
        {{'mainaboutme.about' | i18n}}
        
    </div>
    <div class="md:mt-20 mt-10">
        <section class="bg-black text-white ">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="grid md:grid-cols-2 gap-12 items-center">
                
                <!-- Image -->
                <div class="aspect-square rounded-2xl overflow-hidden">
                  <img src="/assets/landingpage/deakdavidcover.jpg" alt="About Me" class="w-full h-full object-cover">
                </div>
          
                <!-- Text Block -->
                <div>
                  <h2 class="text-red-600 text-lg font-medium mb-2">01</h2>
                  <h3 class="text-4xl font-bold font-mont leading-snug mb-4">
                    {{'mainaboutme.title2' | i18n}}
                  </h3>
                  <p class="text-xl leading-relaxed text-zinc-300">
                    {{'mainaboutme.text1' | i18n}}  
                  </p>
                  <p class="text-xl leading-relaxed text-zinc-300 mt-4">
                    {{'mainaboutme.text2' | i18n}}
                  </p>
                </div>
          
              </div>
            </div>
          </section>          
    </div>
</section>
