<section class="bg-black text-white py-10">
    <div class="max-w-5xl mx-auto px-6 text-center">
      <h1 class="text-4xl sm:text-6xl font-semibold tracking-tight leading-tight">
        {{'projectshero.title1' | i18n}}
        <br class="hidden sm:inline">
        {{'projectshero.title2' | i18n}}

      </h1>
  
      <p class="mt-6 text-lg sm:text-xl font-medium brightness-80">
        {{'projectshero.text1' | i18n}}
      </p>
      <p class="text-lg sm:text-xl brightness-80">
        {{'projectshero.text2' | i18n}}
      </p>
    </div>
  </section>
  