<section class="bg-black text-white py-10">
    <div class="max-w-5xl mx-auto px-6 text-center">
      <h1 class="text-4xl sm:text-6xl font-semibold tracking-tight leading-tight">
        My most<br class="hidden sm:inline"> recent work
      </h1>
  
      <p class="mt-6 text-lg sm:text-xl font-medium brightness-80">
        Vibrant visuals that tell powerful stories ✨
      </p>
      <p class="text-lg sm:text-xl brightness-80">
        Projects from recent years captured across the globe.
      </p>
    </div>
  </section>
  