---
layout: "base.njk"
title: "Kapcsolat | Grafikus és Videós Erdély, Kovászna"
description: "Vedd fel a kapcsolatot Deák Dáviddal grafikai tervezés, eseményfotózás és cinematic videó projektek kapcsán Kovászna megyében, Erdélyben."
---
<div class="py-12">
    {% include "contactmeform.njk" %}
</div>