---
permalink: 404.html
eleventyExcludeFromCollections: true
layout: "base.njk"
---

<div class="bg-black text-white flex items-center justify-center text-center min-h-[70vh] py-20">
  <div>
    <h1 class="text-6xl font-bold mb-4">404</h1>
    <p class="text-xl mb-6">Oops. This page doesn't exist.</p>
    <a href="/" class="underline text-blue-400 hover:text-blue-300">Go back home</a>
  </div>
</div>
