---
layout: "base.njk"
title: "DESPRE MINE"
---

<div>
    <div>
        {% include "mainaboutme.njk" %}

    </div>
    <div>
        {% include "creative-tools.njk" %}
    </div>
    <div class="hidden">
        {% include "featuredhero.njk" %}
    </div>
</div>