---
layout: "base.njk"
title: "Despre David Deak | Designer Grafic și Fotograf"
description: "Află mai multe despre David Deak, designer grafic, videograf și fotograf în stil documentar din Transilvania, județul Covasna (Sfântu Gheorghe)."
---

<div>
    <div>
        {% include "mainaboutme.njk" %}

    </div>
    <div>
        {% include "creative-tools.njk" %}
    </div>
    <div class="hidden">
        {% include "featuredhero.njk" %}
    </div>
</div>